.modal-backdrop {
  -webkit-backdrop-filter: blur(2px) !important;
  backdrop-filter: blur(2px) !important;
  background: rgba(0, 0, 0, 0.4) !important;
  min-height: 100vh;
  z-index: 1000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Morabba;
}
* {
  font-family: Dana;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.number {
  font-family: KalamehWebFaNum;
}
* {
  @apply number;
}
body {
  color: #2a3547;
  overflow-x: hidden;
}

.card-wrapper-shadow {
  box-shadow: rgb(145 158 171 / 30%) 0px 0px 2px 0px,
    rgb(145 158 171 / 12%) 0px 12px 22px -4px;
  background-image: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:read-only {
  opacity: 0.8;
}


::-webkit-scrollbar {
  height: 5px; /* ارتفاع اسکرول‌بار در محور X */
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ccc; /* رنگ دسته اسکرول‌بار */
  border-radius: 4px; /* گوشه‌های گرد */
}

::-webkit-scrollbar-thumb:hover {
  background: transparent; /* رنگ دسته هنگام هاور */
}

::-webkit-scrollbar-track {
  background: transparent; /* رنگ پس‌زمینه اسکرول‌بار */
}